@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-image: url("/assets/img/background.png");
}
.border-dashed {
  border: 2px dashed #858581;
  border-radius: 30px;
}
.border-dashed-small {
  border: 2px dashed #858581;
  border-radius: 15px;
}
